/* 

.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.footer-content p {
    font-size: 1em;
    margin-bottom: 20px;
}

.footer-content .socials {
    list-style: none;
    padding: 0;
}

.footer-content .socials li {
    display: inline;
    margin: 0 10px;
}

.footer-content .socials li a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-content .socials li a:hover {
    color: #09bdff;
}
@media (max-width: 768px) {
    
    .navbar {
        display:none;
        padding: 0;

    }
    .nav-links{
        gap: 0;
    }

    .menu-toggle {
        display: block;
        top: 20px;
        right: 20px;
        font-size: 1.5em;
        cursor: pointer;
        color: #fff;
    }
}
 @media (max-width: 480px) { 
    .about-container {
        padding: 20px 5px;
        margin: 5px;
    }

    .about-container h1 {
        font-size: 1.5em;
    }

    .about-container p {
        font-size: 0.9em;
    }

    .menu-toggle {
        font-size: 1.2em;
    }
}  */
